/* Style the header with a grey background and some padding */
.header {
  display: flex;
  position: relative; 
  left: 42%
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
  float: center;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}
