.links line {
    stroke: #50559E;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #50559E;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.link {
    stroke: #50559E;
}

.node text {
    stroke:#333333;
    cursor:pointer;
}

.node circle{
    stroke:#50559E;
    stroke-width:3px;
}
