
body{
  font-family: 'Open Sans', sans-serif;
}
.row {
  width: 100%;
  padding: 5px;
}

.column{
  float: left;
  width: 50%;
}

.container{
  padding: 5px;
}

.form-control{
  border: 2px solid #6B6FC8;
  border-radius: 2px 2px 2px 2px;
}

.input-group-text{
  border: 2px solid #6B6FC8;
  background: #6B6FC8;
  text-align: center;
  color: #fff;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.btn{
  background: #6B6FC8;
  border: 5px solid #ffffff;
}
.btn:focus, .btn:hover{
  outline: none !important;
  box-shadow: none;
}

.btn:visited{
  outline: none;
}

.btn-info:hover, .btn-info:focus {
  outline: none;
}
